---
import Layout from "../../layouts/Layout.astro";
import { contentfulClient } from "../../lib/contentful";

export function getStaticPaths() {
    return [
        { params: { slug: "first-post" } },
        { params: { slug: "second-post" } },
    ];
}

const { slug } = Astro.params;

const postRaw = await contentfulClient.getEntries({
    content_type: "post",
    "fields.slug": slug,
});
const post = postRaw.items[0].fields.slug;
console.log(post);

---

<Layout title=`${post} | emikinder`>
    <h1 class="text-white">{post}</h1>
</Layout>
