---
import Footer from '../../components/Footer.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="emikinder | lab">
  <main class="flex flex-col justify-center mx-auto w-full">
    <section class="px-10">
      <p class="font-inclusive pt-16 text-4xl sm:text-5xl lg:text-7xl">Lab</p>
      <div class="flex flex-col">
        <a href="/lab/abstract"> 01-abstract </a>
        <a href="/lab/abstract"> 01-abstract </a>
        <a href="/lab/abstract"> 01-abstract </a>
        <a href="/lab/abstract"> 01-abstract </a>
      </div>
    </section>
    <Footer />
  </main>
</Layout>
