---
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="emikinder | about">
  <main class="flex flex-col justify-center mx-auto w-full">
    <p class="font-inclusive pt-16 text-4xl sm:text-5xl lg:text-7xl">about</p>
    <Footer />
  </main>
</Layout>
