---
import Presentation from "../components/Presentation.astro";
import ProjectsPreview from "../components/ProjectsPreview.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="emikinder | dev">
    <main class="flex justify-center h-[200vh]">
        <section class="p-3 mt-16 md:mt-24 md:p-0">
            <Presentation />
            <ProjectsPreview />
        </section>
    </main>
</Layout>

<style></style>
