---
import Layout from '../layouts/Layout.astro';
import Marquee from '../components/Marquee.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="emikinder | dev">
  <main class="flex flex-col justify-center mx-auto w-full">
    <Marquee />
    <Footer />
  </main>
</Layout>
