---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import Presentation from "../components/Presentation.astro";
import ProjectsPreview from "../components/ProjectsPreview.astro";
---

<Layout title="emikinder | dev">
    <main class="flex justify-center mx-auto md:w-7/12 h-[200vh]">
        <section class="mt-20 md:mt-36 p-3 md:p-0">
            <Presentation />
            <About />
            <ProjectsPreview />
        </section>
    </main>
</Layout>

<style></style>
