---
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
import Presentation from '../components/Presentation.astro';
import ProjectsPreview from '../components/ProjectsPreview.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="emikinder | dev">
  <main
    class="flex flex-col justify-center mx-auto w-full"
  >
    <Footer />
  </main>
</Layout>
