---
import Layout from '../layouts/Layout.astro';
import Marquee from '../components/Marquee.astro';
import Footer from '../components/Footer.astro';
import Skills from '../components/Skills.astro';
import Works from '../components/Works.astro';
---

<Layout title="emikinder | dev">
  <main class="flex flex-col justify-center mx-auto w-full">
    <Works />
    <Marquee />
    <Skills />
    <Footer />
  </main>
</Layout>
