---
import Skills from '../components/Skills.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="emikinder | dev">
  <main class="flex flex-col justify-center mx-auto w-full">
    <h1>Lab</h1>
    <Skills />
  </main>
</Layout>
