---

---

<section
    class="font-text flex flex-col gap-4 my-10 text-lg font-text text-center px-0 md:px-28"
>
    <hr />
    <p>
        I'm <b>passionate</b> about creating beautiful and functional user
        interfaces that provide a great user experience.
    </p>
    <p>
        In my free time, I enjoy learning about new frontend technologies, and
        building web apps and sites. I also enjoy playing <i>fútbol</i>, videogames and
        spending time outdoors, drinking mate <b>obviously</b> 🧉🇦🇷.
    </p>
    <!-- <img
        src="/images/profile.jpg"
        alt="emikinder"
        width="180"
        class="m-auto rounded-full"
    /> -->
    <hr />
    <p class="font-title pixel text-center text-4xl mt-10">
        Pixel perfect. Responsive design.
    </p>
</section>

<style>
    .about {
        background: #222222;
        color: #faf9f6;
    }
    .pixel {
        font-weight: 800;
        color: #faf9f6;
    }

    p {
        color: #faf9f6;
    }

    hr {
        background-color: #757574;
        border: none;
        height: 1px;
        width: 60%;
        align-self: center;
    }
</style>
