---
import { Fade } from "react-awesome-reveal";
---

<Fade
    triggerOnce
    client:load
>
    <section
        class="font-subtitle flex flex-col gap-3 my-3 md:my-10 text-lg text-center"
    >
        <section class="text-left grid md:grid-cols-2 gap-5">
            <div class="about w-full md:pr-10 my-auto">
                <p>
                    I'm <strong>passionate</strong> about creating beautiful and
                    functional user interfaces that provide a great user
                    experience.
                </p>
                <br />
                <p>
                    I've been working in web development for <strong
                        >+6 years</strong
                    >. Going through companies from different sectors and
                    technologies. Now my focus is on javascript and its
                    frameworks, like <strong>React</strong>, <strong
                        >Next.js</strong
                    > and <strong>Astro</strong>.
                </p>
                <br />
                <p>
                    In my free time, I enjoy learning about new frontend
                    technologies, and building web apps and sites. I also enjoy
                    playing <i>fútbol</i>, videogames and spending time
                    outdoors, drinking mate <strong>obviously</strong> 🧉🇦🇷.
                </p>
            </div>

            <img
                src="/images/profile4.jpeg"
                alt="emikinder"
                width="400"
                class="m-auto rounded-2xl hidden md:block"
            />
            <img
                src="/images/profile4-m.jpeg"
                alt="emikinder"
                width="400"
                class="m-auto rounded-2xl block md:hidden"
            />
        </section>
    </section>
</Fade>
<Fade
    triggerOnce
    direction="up"
    client:load
>
    <p class="font-title pixel text-center text-4xl my-10 md:text-6xl md:my-20">
        Pixel perfect. <br class="inline-block md:hidden"> Responsive design.
    </p>
</Fade>

<style>
    .pixel {
        color: #faf9f6;
    }

    .about p {
        color: #aaaaaa;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    @media screen and (max-width: 768px) {
        .about p {
            font-size: 1.1rem;
            line-height: 1.7rem;
        }

        .pixel {
            letter-spacing: -1.5px;
        }
    }

    i,
    strong {
        color: #faf9f6;
    }
</style>
