---
const { tech } = Astro.props;
---

<div class="font-subtitle px-2 rounded-full text-sm">
    {tech}
</div>
<style>
    div {
        background-color: #faf9f6;
        color: #111111;
    }
</style>
