---

---

<section class="w-full text-center mt-10 mb-20 text-white">
    <h2 class="font-title text-3xl mb-4">Let's talk 🧉</h2>
    <div class="flex justify-center items-center">
        <a
            class="font-title text-4xl"
            href="mailto:hey@emikinder.dev"
            >hey@emikinder.dev</a
        >
        <button
            class="ml-3"
            onmousedown="party.confetti(this, {
                count: party.variation.range(50, 60),
                spread: party.variation.range(60, 80),
                size: party.variation.range(0.8, 1.2),
            })"
        >
            <img
                id="copy"
                src="/images/copy.svg"
                alt="Copy email to clipboard"
                class="inline-block w-4 h-4"
            />
            <img
                id="check"
                src="/images/check.svg"
                alt="Email copied to clipboard"
                class="w-4 h-4 hidden"
            />
        </button>
    </div>
</section>
<script is:inline>
    const copy = document.getElementById("copy");
    const check = document.getElementById("check");
    const handleCopy = () => {
        check.classList.remove("hidden");
        copy.classList.add("hidden");
        navigator.clipboard.writeText("hey@emikinder.dev");
        setTimeout(() => {
            check.classList.add("hidden");
            copy.classList.remove("hidden");
        }, 3000);
    };
    copy.addEventListener("click", handleCopy);
</script>
