---

---

<section class="w-full text-center my-20">
    <h2 class="font-title mail text-2xl">emikinderk@gmail.com</h2>
</section>
<style>
    .mail {
        font-weight: 700;
        color: #faf9f6;
    }
</style>
