---
import Icon from 'astro-icon';
import { Fade, Slide } from 'react-awesome-reveal';
---

<section class="relative py-5 md:pr-10 flex justify-center items-center">
  <Icon
    name="l"
    class="absolute w-[70px] md:w-[100px] left-0 top-20 md:top-20 md:left-16 -rotate-90"
  />
  <section
    class="h-[80dvh] flex flex-col md:flex-row items-center justify-center md:justify-between mt-20 md:mt-0 gap-16 md:gap-0"
  >
    <div
      class="w-full md:w-2/3 text-5xl md:text-7xl font-inclusive pr-10 md:pr-0"
    >
      <Slide
        direction="left"
        delay={70}
        client:load
        className="pl-3 md:pl-20"
        triggerOnce
        >frontend &</Slide
      >
      <div class="border-b w-full"></div>
      <Slide
        direction="left"
        delay={200}
        triggerOnce
        client:load
        className="pl-3 md:pl-20 flex"
      >
        <!-- <Icon
          name="stars"
          class="w-[50px] md:w-[50px]"
        /> -->
        <span class="md:block hidden">creative developer</span><span
          class="block md:hidden">creative dev.</span
        ></Slide
      >

      <!-- <div class="font-inconsolata m-32 flex items-center">
        <p class="leading-4 text-sm">
          A web developer with over seven years of experience in creating interactive web applications and
websites. Proficient in JavaScript and TypeScript technologies, primarily React and Angular, with a strong
focus on frontend development. Passionate about designing beautiful and intuitive user interfaces while
continuously exploring new technologies to enhance user experiences.
Enthusiast of 3D web development, exploring the limits and capabilities of the web.
        </p>
      </div> -->
    </div>
    <div
      class="md:w-1/3 text-2xl md:text-3xl font-inconsolata flex justify-end border-b border-dashed"
    >
      <img
        src="/photo.png"
        alt="Emiliano Kinderknecht"
        class="grayscale w-[50%] md:w-[100%]"
      />
    </div>
  </section>
</section>
