---
import Icon from 'astro-icon';
---

<section
  class="flex flex-col pt-16 h-[50vh] gap-4"
  id="lab"
>
  <section class="flex justify-between items-baseline custom-padding">
    <p class="font-inclusive text-4xl sm:text-5xl lg:text-7xl">Lab</p>
    <Icon
      name="cube-arrow"
      class="w-[60px] md:w-[100px] sm:mr-16"
    />
  </section>
  <section class="custom-padding">
    <a
      href="/lab/00-skills"
      class="underline-animation"
    >
      00-skills (not mobile)
    </a>
    <a
      href="/lab/01-waves"
      class="underline-animation"
    >
      01-waves
    </a>
    <a
      href="/lab/abstract"
      class="underline-animation"
    >
      02-world
    </a>
    <a
      href="/lab/abstract"
      class="underline-animation"
    >
      03-island
    </a>
  </section>
</section>
