---
const { text = 'SKILLS', repetitions = 20 } = Astro.props;
const items = Array.from({ length: repetitions }, () => text);
---

<!-- <section
  class="relative overflow-x-hidden w-full h-[10vh] items-center flex font-inclusive border-y-2 border-dashed border-gray-100"
>
  <div class="animate-marquee whitespace-nowrap">
    {items.map((item, _) => <span class="mx-3 text-4xl">{item}</span>)}
  </div>
  <div class="absolute animate-marquee2 whitespace-nowrap">
    {items.map((item, _) => <span class="mx-3 text-4xl">{item}</span>)}
  </div>
</section> -->

<section class="overflow-x-hidden w-full h-[10vh] font-inclusive items-center flex border-y-2 border-dashed border-gray-100">
  <div id="marquee" class="">{items.map((item, _) => <span class="mx-3 text-4xl">{item}</span>)}</div>
</section>
<script>
    const marquee = document.getElementById('marquee');
    const observer = new IntersectionObserver((entries) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          window.addEventListener('scroll', handleScroll);
        } else {
          window.removeEventListener('scroll', handleScroll);
        }
      });
    });
  
    observer.observe(marquee);
  
    const handleScroll = () => {
      marquee.style.transform = `translateX(-${window.scrollY / 2}px)`;
    }

</script>