---

---

<nav class="navbar fixed w-full h-16 flex items-center backdrop-blur-lg">
  <section
    class="navbar-content w-full m-auto flex justify-between items-center px-3"
  >
    <a
      href="/"
      class="underline-animation font-title text-xl"
      >emi kinder</a
    >
    <div class="social flex items-center font-inconsolata text-lg text-nowrap">
      <a
        href="/#work"
        class="underline-animation"
        >Work</a
      >
      <a
        href="/lab"
        class="underline-animation"
        >Lab</a
      >
    </div>
  </section>
</nav>
<style>
  .navbar {
    z-index: 99;
  }

  .social > a {
    margin-left: 1rem;
  }
  a:hover > svg {
    fill: #faf9f6;
  }

  .underline-animation {
    position: relative;
  }

  .underline-animation::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease;
  }

  .underline-animation:hover::after {
    width: 100%;
  }

  .underline-animation:not(:hover)::after {
    right: 0;
    left: auto;
    width: 0;
    transition: width 0.3s ease;
  }

  .navbar-content {
    max-width: 1400px;
  }
</style>
