---
---

<nav class="navbar fixed w-full h-16 flex items-center backdrop-blur-lg">
  <section
    class="navbar-content w-full m-auto flex justify-between items-center px-3"
  >
    <a
      href="/"
      class="logo font-title text-xl font-bold"
      >ek</a
    >
    <div class="social flex items-center">
      <!-- <a
        class="font-inconsolata text-md border border-customWhite px-3 py-1 rounded-full hover:bg-white/20 text-nowrap"
        href="#about"
      >
        About
      </a> -->
      <a
        class="font-inconsolata text-md border border-customWhite px-3 py-1 rounded-full hover:bg-white/20 text-nowrap"
        href="#work"
      >
        Work
      </a>
      <a
        class="font-inconsolata text-md border border-customWhite px-3 py-1 rounded-full hover:bg-white/20 text-nowrap"
        href="#footer"
      >
        Projects
      </a>
    </div>
  </section>
</nav>
<style>
  .navbar {
    z-index: 99;
  }

  .social > a {
    margin-left: 1rem;
  }
  a:hover > svg {
    fill: #faf9f6;
  }

  .logo:hover {
    color: #faf9f6;
  }

  .navbar-content {
    max-width: 1400px;
  }
</style>
