---

---

<nav
  class="navbar fixed w-full h-16 flex justify-between items-center backdrop-blur-lg px-3 sm:px-10"
>
  <a
    href="/"
    class="underline-animation font-title text-xl"
    >emi kinder
  </a>
  <div class="flex font-inconsolata text-lg text-nowrap gap-3">
    <a
      href="/#work"
      class="underline-animation"
      >work</a
    >
    <a
      href="/about"
      class="underline-animation"
      >about</a
    >
    <a
      href="/lab"
      class="underline-animation"
      >lab</a
    >
  </div>
</nav>
<style>
  .navbar {
    z-index: 99;
  }

  .navbar-content {
    max-width: 1330px;
  }
</style>
