---

---

<section class="font-title flex flex-col items-left mx-auto">
    <h1 class="name">Hey! I'm Emi Kinderknecht,<br> frontend developer.</h1>
    <!-- <p>Hi! My name is Emiliano, I'm a</p> -->
    <!-- <strong class="orange-text text-3xl mx-1">frontend developer</strong> -->
    <!-- <p>based on Italy 👽</p> -->
</section>

<style>
    .name {
        font-weight: 700;
        line-height: normal;
        color: #faf9f6;
    }

    @media (max-width: 480px) {
        .name {
            font-size: 9vw;
        }
    }

    @media (min-width: 481px) and (max-width: 768px) {
        .name {
            font-size: 7vw;
        }
    }

    @media (min-width: 769px) {
        .name {
            font-size: 5rem;
        }
    }

    .gradient-text {
        background: #faf9f6;
        background: linear-gradient(180deg, #faf9f6, #8e8e8d);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>
