---
interface Props {
    style: string;
}

const { style } = Astro.props;
---

<p class={style}>
    <!-- Hi! My name is Emiliano, I'm a <strong class="orange-text"
        >frontend developer</strong
    > based on Italy 👽 -->
    <strong class="orange-text">frontend developer</strong>
</p>
<style>
    p {
        color: #757574;
    }
</style>
