---

---

<section class="font-title flex flex-col mx-auto">
    <h1 class="name text-center">
        Hey! I'm Emi Kinderknecht,<br /> frontend developer.
    </h1>
</section>

<style>
    .name {
        font-weight: 700;
        line-height: normal;
        color: #faf9f6;
    }

    @media (max-width: 480px) {
        .name {
            font-size: 12vw;
        }
    }

    @media (min-width: 481px) and (max-width: 768px) {
        .name {
            font-size: 9vw;
        }
    }

    @media (min-width: 769px) and (max-width: 1024px) {
        .name {
            font-size: 5.5rem;
        }
    }

    @media (min-width: 1025px) {
        .name {
            font-size: 4rem;
        }
    }

    .gradient-text {
        background: #faf9f6;
        background: linear-gradient(180deg, #faf9f6, #8e8e8d);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>
