---
import ProjectItem from "./ProjectItem.astro";

const projects = [
    {
        title: "Sares",
        subtitle: "Digital art.",
        description:
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.",
        image: "images/artssec2.png",
        link: "https://artssec.netlify.app/",
        github: "https://artssec.netlify.app/",
        techs: ["Astro", "React", "Contentful"],
        color: "bg-[#0a0a0a]",
    },
    {
        title: "Artssec",
        subtitle: "Security company.",
        description:
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.",
        image: "images/artssec2.png",
        link: "https://artssec.netlify.app/",
        github: "https://artssec.netlify.app/",
        techs: ["Gastby", "Contentful", "GraphQL"],
        color: "bg-[#00a550]",
    },
    {
        title: "TicketVibe",
        subtitle: "Tickets for events.",
        description:
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.",
        image: "images/artssec2.png",
        link: "https://artssec.netlify.app/",
        github: "https://artssec.netlify.app/",
        techs: ["React", "Vite", "TailwindCSS"],
        color: "bg-[#6622cc]",
    },
    {
        title: "iVascular",
        subtitle: "Medical devices and therapies.",
        description:
            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.",
        image: "images/artssec2.png",
        link: "https://artssec.netlify.app/",
        github: "https://artssec.netlify.app/",
        techs: ["React", "Typescript", "Bootstrap"],
        color: "bg-[#bb8bc5] text-black",
    },
];
---

<section class="my-5 w-full flex flex-col gap-4">
    {projects.map((project) => <ProjectItem project={project} />)}
</section>
