---
import ProjectItem from "./ProjectItem.astro";
import { projects } from "../data/projects.json";
---

<section class="my-10 w-full grid md:grid-cols-2 gap-4">
    {projects.map((project) => <ProjectItem project={project} />)}
</section>
