---
import Icon from 'astro-icon';

const items = [
  {
    color: 'bg-customYellow',
    position: 'top-20 left-[53%]',
    moveDirection: 'translate(2px, -2px)',
    title: 'React',
  },
  {
    color: 'bg-customGreen',
    position: 'top-[40%] right-[20%]',
    moveDirection: 'translate(2px, 2px)',
    title: 'Nextjs',
  },
  {
    color: 'bg-customPink',
    position: 'left-[39%] top-[50%]',
    moveDirection: 'translate(-2px, 2px)',
    title: 'Typescript',
  },
  {
    color: 'bg-customBlue',
    position: 'bottom-[30%] left-[12%]',
    moveDirection: 'translate(-2px, -2px)',
    title: 'Threejs',
  },
  {
    color: 'bg-customPurple',
    position: 'bottom-[20%] right-[39%]',
    moveDirection: 'translate(2px, 2px)',
    title: 'No-code',
  },
];
---

<section class="relative h-[90vh] w-full center-class flex">
  <section class="w-full h-full md:w-2/5 md:border-dashed md:border-r">
    {
      items.map((skill, i) => (
        <section
          id={skill.title}
          class={`flex relative items-center justify-center h-1/5 border-y border-white
                  first:border-t-0 last:border-b-0 animate-bg`}
        >
          <h5 class="font-inclusive">{skill.title}</h5>
          {i !== items.length - 1 && (
            <Icon
              name="circle"
              class="absolute -right-1 -bottom-1 w-[6px] h-[6px] hidden md:block"
            />
          )}
        </section>
      ))
    }
  </section>
  <section id="canvas-section" class="hidden md:block w-3/5 h-full">
    <canvas id="scene"></canvas>
  </section>
</section>
<style>
  #scene {
    width: 100%;
    height: 100%;
  }
</style>
<script>
  import { createScene } from '../components/Scene';

  window.addEventListener('load', () => {
    createScene();
  });
</script>