---
import Icon from 'astro-icon';

const { href, label, icon, hoverColor } = Astro.props;
---

<a
  href={href}
  target="_blank"
  class={`w-[25px] ${hoverColor} big-cursor cursor-pointer`}
  aria-label={label}
>
  <Icon
    name={icon}
    class="fill-current"
  />
</a>
