---
import ProjectsList from "../../components/ProjectsList.astro";
import Layout from "../../layouts/Layout.astro";
import { Fade } from "react-awesome-reveal";
---

<Layout title="projects | emikinder">
    <main class="flex justify-center md:h-[100vh]">
        <section class="p-3 my-20 md:mt-36 md:p-0 w-[55rem]">
            <Fade
                triggerOnce
                client:load
            >
                <h1 class="font-title text-center text-5xl mx-0 md:mx-28">
                    Latest projects I've been working on.
                </h1>
                <!-- <p class="font-title text-center mt-3 text-white">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
                </p> -->
            </Fade>
            <ProjectsList />
        </section>
    </main>
</Layout>
<style>
    h1 {
        font-weight: 700;
        color: #faf9f6;
    }
</style>
